<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="bar"><i class="fas fa-bars"></i></div>
        
        <a class="navbar-brand "  href="#"><img id="brand" src="assets/Images/keep.jpeg" alt=""></a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Keep</a>
          </li>
          
         
          
        </ul>
        <form class="d-flex search" id="icon">
          <input  class="form-control me-2 searPos" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        
        </form>
       
      </div>
    </div>
    <div class="icon">
        <i class="fas fa-redo-alt"></i>
        <i class="fas fa-stream"></i>
        <i class="fas fa-cog"></i>
        <i class="fab fa-intercom"></i>
        <a class="navbar-brand "  href="#"><img id="brand" src="assets/Images/profile.jpg" alt=""></a>
    </div>
  </nav>
